[submodule "emacs.d/nonelpa/awesome-tray"]
	path = emacs.d/nonelpa/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray.git
[submodule "emacs.d/nonelpa/awesome-tab"]
	path = emacs.d/nonelpa/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
