[submodule "emacs.d/nonelpa/sdcv"]
	path = emacs.d/nonelpa/sdcv
	url = https://github.com/manateelazycat/sdcv.git
[submodule "miniplug"]
	path = miniplug
	url = https://github.com/YerinAlexey/miniplug.git
