<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>homebrew.mxcl.emacs-plus.leopard</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/opt/emacs-plus@28/bin/emacs</string>
    <string>--fg-daemon=leopard</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/homebrew.mxcl.emacs-plus.leopard.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/homebrew.mxcl.emacs-plus.leopard.stderr.log</string>
</dict>
</plist>
